.container {
	padding-top: 25px;
	max-width: 1024px;
}



.top-dex {
	height: 260px;
	background-image: url('images/Pokedex_t_b.png');
	background-repeat: no-repeat;
	background-size: 100% 260px;
	background-position: top;

}

.pokedex-top {
	position: relative;
	bottom: 0;
	line-height: 259px;
	z-index: 2;
	font-size: 20px;
	color: #e4f8ff;
}

.nav-ui-top-left {
	left: 220px;
	bottom: -80px;
}
.nav-ui-top-middle {
	left: 50px;
	bottom: -20px;
}
.nav-ui-top-right {
	left: -14px;
	bottom: -80px;
}

.bottom-dex {
	height: 260px;
	background-image: url('images/Pokedex_t_b.png');
	background-repeat: no-repeat;
	background-size: 100% 260px;
	background-position: top;
	margin-bottom: 20px;
	transform: scaleY(-1);
}

#view {
	width: auto;
}




.random-bt {
	width: 100px;
	height: 100px;
	background-image: url('images/pokeball-rand-bt.png');
	background-size:contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: auto;
}

.catchBg {
	position: relative;
	background-image: url('images/chooseBg.png');
	background-repeat: no-repeat;
	background-position: -10px center;
	background-size: cover;
	height: 600px;
	width: 100%;

}


.chooser1 {
	position: relative;
	top: 62px;
	left: 41%;
}

.chooser1 > img {
	height: 140px;
	cursor: pointer;
}

.chooser1 > img:hover {
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 33px 0px rgba(228, 248, 255, 0.67);
    -moz-box-shadow:    0px 0px 33px 0px rgba(228, 248, 255, 0.67);
    box-shadow:         0px 0px 33px 0px rgba(228, 248, 255, 0.67);
}

.chooser2 {
	position: relative;
	top: 143px;
	left: 8%;
}


.chooser2 > img {
	height: 180px;
	cursor: pointer;
}

.chooser2 > img:hover {
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 33px 0px rgba(228, 248, 255, 0.67);
    -moz-box-shadow:    0px 0px 33px 0px rgba(228, 248, 255, 0.67);
    box-shadow:         0px 0px 33px 0px rgba(228, 248, 255, 0.67);
}

.chooser3 {
	position: relative;
	top: -41px;
	left: 70%;
}

.chooser3 > img{
	height: 186px;
	cursor: pointer;
}

.chooser3 > img:hover {
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 33px 0px rgba(228, 248, 255, 0.67);
    -moz-box-shadow:    0px 0px 33px 0px rgba(228, 248, 255, 0.67);
    box-shadow:         0px 0px 33px 0px rgba(228, 248, 255, 0.67);
}

.trainer-form-container {
	position: relative;
	left: 50%;
	transform: translateX(-13%);

}

@keyframes hideForm {
	from {
		opacity: 1;
	} to {
		opacity: 0;
	}
}

.trainer-form-container > form.ng-hide {
	animation: 0.5s hideForm;
}

.trainer-form-container > form > input {
	width: 220px;
	height: 50px;
	line-height: 50px;
	border: 4px solid #E4F8FF;
}

.trainer-form-container > form > button {
	height: 50px;
	border: 4px solid #E4F8FF;
	margin-left: 10px
}

.healthBar {
	position: relative;
	top: 5px;
	height: 53px;
	border: 4px solid #9ce3db;
	width: 75%;
	margin: auto;
}

.healthBar > h3 {
	margin: 0;
}

.progress {
	height: 20px;
	margin-bottom: 0px;
	background-color: #fff;
}



.chosen-pokemon {
	position: absolute;
	top: 154px;
	left: 50%;
	transform: translateX(-50%);
	height: 250px;
	width: 150px;
	/*background-image: url('images/sprites-master/sprites/pokemon/model/25.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;*/
}

.battleBtn {
	position: absolute;
	top: 488px;
	left: 50%;
	transform: translateX(-50%);
}

.battleBtn > button {
	height: 50px;
	width: 200px;
	line-height: 32px;
	font-size: 25px;
	border: 4px solid #E4F8FF;
}

.myBuddy {
	position: absolute;
	top: 185px;
	left: 50%;
	transform: translateX(-28%);
	height: 350px;
	width: 350px;
	/*background-image: url('images/sprites-master/sprites/pokemon/back/25.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
}


/*Animations*/ 

.open-btn {
	mix-blend-mode: hard-light;
	margin: auto;
	animation: rotcircle 3s steps(12) infinite;
	animation-direction: alternate;
	animation-timing-function: linear;

}

@keyframes rotcircle {
	0% { 
		transform: rotate(0deg);
		opacity: 0.2;
	}
	30% {
		transform: rotate(200deg);
	}
	60% {
		transform: rotate(-50deg);
	}
	100% {
		transform: rotate(360deg);
		opacity: 1;
	}
}


.alert-txt {
	padding-top: 55px;
	color: hsla(0, 100%, 75%, 0.9);
	animation: alertblink 0.8s steps(12) infinite;
	animation-direction: alternate;
}

@keyframes alertblink {
	0% { 
		opacity: 0.7;
	}

	100% {
		opacity: 1;
	}
}



.main-content-container {
	background-color: #E4F8FF;
	width: 93%;
	margin: auto;
	padding: 20px 20px;
}

.catch-bg {
	position: relative;
	background: linear-gradient(
      rgba(228, 248, 255, 0.45), 
      rgba(228, 248, 255, 0.45)
    ), url('images/catch_stage.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

#stage {
	position: relative;
	margin: 1em auto;
/*	max-width: 800px;
	min-width: 659px;*/
	width: 100%;
	height: 483px;
	background: transparent;
}

#spawnPoint {
	position: absolute;
	z-index: 3;

}

#throw-left {
	position: absolute;
	width: 60px;
	height: 483px;


	-webkit-animation-name: throw;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: linear;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1.8s;
   	
   	animation-name: throw;
    animation-timing-function: linear;
    animation-iteration-count: linear;
    animation-direction: normal;
    animation-duration: 1.8s;

}

  #bouncer {
    position: absolute;
    width: 60px;
    height: 60px;
 
    border-radius: 90px;

    -webkit-animation-name: bounce;
    -webkit-animation-iteration-count: linear;
    -webkit-animation-duration: 1.8s;

    animation-name: bounce;
    animation-iteration-count: linear;
    animation-duration: 1.8s;
  }

.poke-ball {
	position: absolute;
	top: 370px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	margin: auto;
}


.pokeball-sprite {

	width: 60px;
	height: 60px;
	background: url('images/pokeballs_sprite.png') no-repeat;
	animation: play 0.8s steps(12) infinite;
	z-index: 6;

}

@keyframes play {
	100% { background-position: -768px 0px; }
	}
}

@-webkit-keyframes throw {
	from { left: 360px;  }
	to { left: 600px; }
}

@keyframes throw {
	from { left: 360px;  }
	to { left: 600px; }
}

@-webkit-keyframes bounce {
    from {
      bottom: 0;
      -webkit-animation-timing-function: ease-out;
    }
    50% {
      bottom: 300px;
      -webkit-animation-timing-function: ease-in;
    }
    to {
    	bottom: 185px;
    	-webkit-animation-timing-function: ease-in;
    }
  }
  @keyframes bounce {
    from {
      bottom: 0;
      animation-timing-function: ease-out;
    }
    50% {
      bottom: 300px;
      animation-timing-function: ease-in;
    }
    to {
    	bottom: 185px;
    	animation-timing-function: ease-in;
    }
  }

.pos-pokemon {
	position: absolute;
	left: 50%;
	transform: translateX(-55%);
	margin: auto;
	
}


/*
phone size needs to be

.pos-pokemon {
	position: absolute;
	left: 50%;
	transform: translateX(-30%);
	margin: auto;
	
}*/

.pos-pokemon > img {
	height: 200px;
}

.battle-pokemon {
	position: relative;
	top: 60px;
	left: -60px;
	height: 200px;
	width: 200px;
	margin: auto;

}


.screen-color {
	background-color: #e4f8ff;
	opacity: 0.8;
	color: #ce616d;
	width: 85%;
	margin-top: 15px;
	box-shadow: 2px 2px 10px #e4f8ff;
	font-size: 18px;
}

.screen-color > p {
	text-shadow: 1px 1px 1px #000;
}

.screen-color > span {
	background-color: #ce616d;
	font-size: 25px;
}

.image-container {
	width: 300px;
	height: 300px;
	margin: 25px auto;
	border: 12px solid #4cb1d3;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

}



.rotate {
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	
}

.rotate:hover {
 	 -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


.yt-container {
	margin-top: 25px;
}

.youtubeImages {
	height: 180px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 5px solid #4cb1d3;


}

.menu-container {
	margin-bottom: 25px;
}



@media screen and (max-width: 987px) {
		
		.battle-pokemon {
			position: relative;
			left: 50%;
			transform: translateX(-90%);
			height: 200px;
			width: 100%;
			margin: auto;

		}

		.pos-pokemon {
		position: absolute;
		left: 50%;
		transform: translateX(-21%);
		margin: auto;
		
	}

		.pokeball-sprite {

		width: 60px;
		height: 60px;
		background: url('images/pokeballs_sprite.png') no-repeat;
		animation: play 0.8s steps(12) infinite;
		z-index: 6;

	}

		@keyframes play {
			100% { background-position: -768px 0px; }
			
		}

		@-webkit-keyframes throw {
			from { 
				left: 275px; 
			}
			to { left: 470px; }
		}

		@keyframes throw {
			from { 
				left: 275px; 
			}
			to { left: 470px; }
		}

		@-webkit-keyframes bounce {
		    from {
		      bottom: 0;
		      -webkit-animation-timing-function: ease-out;
		    }
		    50% {
		      bottom: 300px;
		      -webkit-animation-timing-function: ease-in;
		    }
		    to {
		    	bottom: 185px;
		    	-webkit-animation-timing-function: ease-in;
		    }
		  }
		  @keyframes bounce {
		    from {
		      bottom: 0;
		      animation-timing-function: ease-out;
		    }
		    50% {
		      bottom: 300px;
		      animation-timing-function: ease-in;
		    }
		    to {
		    	bottom: 185px;
		    	animation-timing-function: ease-in;
		    }
		  }
		  .catchBg {
				position: relative;
				background-image: url('images/chooseBg.png');
				background-repeat: no-repeat;
				background-position: -10px center;
				background-size: cover;
				height: 400px;
				width: 100%;

			}

			.chooser1 {
				position: relative;
				top: 5px;
				left: 40%;
			}

			.chooser1 > img {
				height: 117px;
			}

			.chooser2 {
				position: relative;
				top: 52px;
				left: 6%;
			}

			.chooser2 > img {
				height: 155px;
			}

			.chooser3 {
				position: relative;
				top: -100px;
				left: 68%;
			}

			.chooser3 > img{
				height: 155px;
			}

			.trainer-form-container {
				position: relative;
				left: 50%;
				top: -100px;
				transform: translateX(-19%);

			}

			.trainer-form-container > form > input {
				width: 220px;
				height: 50px;
				line-height: 50px;
				border: 4px solid #E4F8FF;
			}

			.chosen-pokemon {
				position: absolute;
				top: 110px;
				left: 50%;
				transform: translateX(-50%);
				height: 150px;
				width: 150px;
				background-image: url('images/sprites-master/sprites/pokemon/model/25.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}

			.battleBtn {

				top: 312px;

			}


			.myBuddy {

				transform: translateX(-40%);

			}


}



