<div class="row">
	<div class="col-md-12 catchBg">
		<div class="chooser1" ng-click="choice()"><img ng-src="images/sprites-master/sprites/items/dream-world/poke-ball.png"></div>
		<div class="chooser2" ng-click="choice()"><img ng-src="images/sprites-master/sprites/items/dream-world/great-ball.png"></div>
		<div class="chooser3" ng-click="choice()"><img ng-src="images/sprites-master/sprites/items/dream-world/repeat-ball.png"></div>
		<div class="trainer-form-container">
			<form ng-hide="hideForm">
				<input type="text" placeholder="Please type your name" ng-model="words.trainer">
				<button type="button" class="btn btn-info" ng-click="update(words.trainer)" value="save">ENTER</button>
			</form>
		</div>
		<div class="chosen-pokemon" bg-img-directive="{{bgImage}}"  ng-hide="hidePokemon" ng-click="updateDetails()"></div>
		<div class="battleBtn"><button type="button" class="btn btn-info" ng-hide="hideBattleBtn" ng-click="battle(pokemonBuddy)">BATTLE</button></div>
	</div>
</div>