
<!--<div>
	<img ng-src="{{pokemon.image}}">
</div>
<input type="text" placeholder="Please enter Pokemon name" ng-model="myPokemon"/>
<div class="random-bt" ng-click="getPokemon(myPokemon)"></div>
-->
<div class="row">
	<div class="col-md-4 text-center alert-txt hidden-sm hidden-xs">
		<h3>ALERT!</h3>
		<h4>Wild Pokemon Discovered!</h4>
	</div>
	<div class="col-md-4 col-sm-12">
		
			<a ui-sref="catch">
			<img src="/images/enter-btn.png" class="img-responsive open-btn">
			</a>

	</div>
	<div class="col-md-4 text-center alert-txt hidden-sm hidden-xs">
		<h3>ALERT!</h3>
		<h4>Wild Pokemon Discovered!</h4>
	</div>
	
</div>