<div class="row">
	<div class="col-md-12 col-xs-12 catch-bg">
		<div id="stage"><div id="spawnPoint"></div>

			<div class="row">
			<div class="col-md-4 col-xs-4">
				<!-- <ul ng-if="fullHealth" class="list-group">
					<li class="list-group-item screen-color" ng-repeat="stat in pokemon[0].stats | limitTo: 2">
						<span class="badge">{{stat.base_value}}</span>
						<p class="stats">{{stat.name}}</p>
					</li>
					<li class="list-group-item screen-color">
						<span class="badge">{{pokemon[0].stats[5].base_value}}</span>
						<p class="stats">{{pokemon[0].stats[5].name}}</p>
					</li>
				</ul> -->
				<div class="myBuddy" battle-directive health="bHealth" name="myBuddy.name" bg-img-directive="{{myBuddy.image}}"></div>
				<div ng-if="fullHealth" class="buddy-fight-btn" ng-click="quickAttack(pokemon[0].stats[5], fullHealth)"></div>
				<div ng-if="fullHealth" class="buddy-power-btn" ng-click="powerAttack(pokemon[0].stats[5], fullHealth)"></div>
			</div>
			<div class="col-md-4 col-xs-4">
				<div ng-if="fullHealth">
					<div ng-click="battle(pokemon[0].stats[5], fullHealth)" create-animate enemy-directive>
						<img ng-src="images/pokeball-rand-bt.png" class="poke-ball img-responsive">
					</div>
				</div>

			</div>{{}}
				<div class="col-md-4 col-xs-4">
					<div class="battle-pokemon">
						<div id="trgArea" class="pos-pokemon" ng-if="fullHealth">
							<div class="directive" enemy-directive battle-directive
							health="health" name="pokemon[0].name"></div>
							
							<img ng-src="{{pokemon[0].image}}">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>