<div class="row">
	<div class="col-md-12 col-xs-12 catch-bg">
		<div id="stage"><div id="spawnPoint"></div>

			<div class="row">
			<div class="col-md-4 col-xs-4">
				<ul class="list-group">
					<li class="list-group-item screen-color" ng-repeat="stat in pokemon[0].stats | limitTo: 5">
						<span class="badge">{{stat.base_value}}</span>
						<p class="stats">{{stat.name}}</p>
					</li>
					<li class="list-group-item screen-color">
						<span class="badge">{{pokemon[0].stats[5].base_value}}</span>
						<p class="stats">{{pokemon[0].stats[5].name}}</p>
					</li>
				</ul>
				
			</div>
			<div class="col-md-4 col-xs-4">
				
			
				<img ng-click="battle(pokemon[0].stats[5], fullHealth)" ng-src="images/pokeball-rand-bt.png" create-animate class="poke-ball img-responsive">

			</div>
				<div class="col-md-4 col-xs-4">
					<div class="battle-pokemon">
						<div id="trgArea" class="pos-pokemon">
							<div class="directive" battle-directive
							health="health"></div>
							<h3 class="text-center text-capitalize alert-danger">{{pokemon[0].name}}</h3>

							<img ng-src="{{pokemon[0].image}}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>